/* Different Browsers */
* {box-sizing: border-box}

/* Width Control */
main {
max-width: 64rem;
margin: 0 auto;
}

body {
    font-family: "Noto Sans", system-ui;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

/* Header */
header {
    padding: 1rem 2vw;
    color: white;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(to bottom left,#46C6F0, #6387F0);
}

header div {
    padding-left: 2vw;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    letter-spacing: 0.5px;
}

/* Navigation */

/* SMALL SCREENS */

@media only screen and (max-width: 600px) {
    
    nav ul {
        margin: 1% 0 0 0;
        padding: 0 2%;
        list-style-type: none;
    }

    nav a {
        display: block;
        padding: .2rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px;
        background-color: white;
        color: #EFDF00;
        border-radius: 2.5rem;
    }

    /* small active site */
    nav .active a {
        color: white;
        background-image: linear-gradient(#EFDF00, #F8EFB0);
    }
} /* end of small screen */

/*BIG SCREENS */

@media only screen and (min-width: 601px) {

    nav{
        background-color: #EFDF00;
    }

    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex;
    }

    nav a {
        font-size: 1.2rem;
        text-decoration: none;
        color: white;
        font-weight: 700;
        display: block;
        padding: .83rem 2rem;
    }

    /* big active site */
    nav li.active a {
        background-color: white;
        color: #EFDF00;
    }

    /* big hover over site */
    nav a:hover {
        color: black;
    }
} /* end of big screens */

/* Main Stuff */

main {
    padding: 1rem 5vw;
}

/* Headers */

main h1{
    color: #46C6F0;
    font-weight: 700;
}

main h2 {
    color: #EFDF00;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

main h3 {
    color: #F04672;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

/* Paragraphs */

main p {
    margin: 0 0 1.3rem 1px;
    letter-spacing: .5px;
}

/* Hero Image */

.heroimage {
    width: 50%;
    margin: 0 0 0 2%;
    float: right;
}

.heroimage img {
    width: 100%;
    height: auto;
    float: right;
}

/* Gallery */

div.gallery {
display: flex;
flex-wrap: wrap;
margin: 0 0 5% 0;
justify-content: space-between;
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.gallery figcaption {
    text-align: center;
    font-size: 1.1rem;
    color: white;
    background-color: #EFDF00;
    margin: 0;
    padding: 1.5% 0 2% 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* hover over image */ div.gallery img:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

/* Vacation Package Images */

div.packageitem {
    border: solid 1px #46C6F0;
    border-radius: 25px;
    border-width: 5px;
    margin-bottom: 2rem;
}


figure.packageimage {
    float: left;
    margin: 0 0 0 2%;
}



figure.package image img {
    width: 40%;
    float: left;
    height: auto;
    margin-left: 5rem;
    margin-bottom: 7rem;
}

.packageitem p {
    font-size: .8rem;
}

/* Vacation Package Headers */


h2.packagetitle {
    text-align: left;
    margin-bottom: 1.3rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

h3.packagetitle {
    text-align: right;
    margin-bottom: 1.3rem;
    padding-right: 3rem;
}

div.packages p, div.packages a {
    text-align: right;
    margin-right: 3rem;
}



/* Vacation Package Links */

div.packages a {
    color: #46C6F0;
    padding-top: 5rem;

}

div.packages a:hover {
    color: black;
}



/* SURVEY */

.survey label, .survey select, .survey [type=tel], .survey [type=email], .survey [type=text], .survey textarea {
    display: block;
}

.survey [type=tel], .survey [type=email], .survey [type=text] {
    border: solid 1px black;
    border-radius: 3px;
    width: 240px;
    padding: .5rem;
}

.survey fieldset {
    border: 2px solid #46C6F0;
    border-radius: 8px;
    margin: 20px 0;
    
}

.survey legend {
    background-color: #46C6F0;
    color: white;
    padding: .3rem;
    border-radius: 8px;
}

.survey label {
    margin: .8em;
}

.survey textarea {
    height: 6rem;
    border-color: #46C6F0;
    border-radius: 5px;
    width: 300px;
}

.survey :required {
    background-color: #46C6F0;
    color: white;
}

.survey input:required {
    border-left: 6px solid red;
}

.survey input:required:valid {
    border-left: 6px solid green;
}

.survey ::placeholder {
    color: white;
}

.survey select {
    padding: .8rem;
    border-color: #46C6F0;
    border-radius: 5px;
    width: 150px;
}

.survey [type=submit]{
    padding: 2rem;
    background-color: #F04672;
    color: white;
    border-style: none;
    border-radius: 15px;
    font-size: 1.4rem;
    margin-bottom: 5rem;
    font-weight: 700;
}

.survey [type=submit]:hover {
    cursor: pointer;
    background-color: #F0839C;
}








/* Footer */
footer {
    background-color: #F04672;
    text-align: center;
    color: white;
    padding: 1rem 0;
    font-size: .8rem;
    clear: both;
}

footer a{
    color: white;
}

footer a:hover {
    color: black;
}