body {
    font-family: "Oxygen", system-ui;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

/* Header Stuff Here */
header {
    background-color: #2000eb;
    padding: 1rem 2vw;
}

header h1 {
    margin: 0;
    color: #ffffff;
}
/* Slogan */
header p {
    margin: 0;
    color: #ffffff;
    letter-spacing: 0.5px;
}


/* Navigation Stuff Here */
nav {
    background-color: #0075eb;
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color:#ffffff;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}
/* Navigation current Site */
nav li.active a {
    background-color: #ffffff;
    color: #0075eb;
}
/* Navigation hover over link */
nav a:hover {
    color:#000;
}

/* Main Content */
main{
    padding: 1rem 5vw;
}

/* Main Headers */
main h1 {
    color: #002beb;
    font-weight: 700;
}

main h2 {
    color: #0075eb;
    margin-bottom: 0.2rem;
    font-weight: 700;
}

/* Main Paragraphs */
main p {
    margin: 0 0 .3rem 0;
    letter-spacing: 0.5px;
}

/* Main OL */
main ol {
    padding: .5rem 7vw;
    color: #2000eb;
}

main ol a {
    color: #2000eb;
}
main ol li {
    padding: 0.2rem 0;
}

main ol a:hover {
    color: #000;
}

/* Main DL */
main dl dt {
    background-color: #002beb;
    color: #ffffff;
    padding: 0 0 0.5vw 0;
    text-align: center;
    font-weight: 700;
}

main dl dd {
    padding: 0.5rem 5px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    letter-spacing: 1.1px;
}

/* Main UL */
main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: 0.5rem;
    font-size: .9rem;
}

/* Main Address */
main address {
    font-style: normal;
    background-color: #002beb;
    color: #ffffff;
    padding: .5rem;
    margin: 3rem 0;
    width: 12.5rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

main address a {
    color: #ffffff;
}

main address a:hover {
    color: #000;
}

/* "Back to Top" */
main p.bottom {
    text-align: center;
}
main a.bottom {
        color: #002beb;
        text-align: center;
}

main a.bottom:hover {
    color: #000;
}

/* Main Links */

main a {
    color: #002beb;
    border: 2rem;
}

main a:hover {
    color: #000;
}

/* Footer */
footer {
    background-color: #2000eb;
    text-align: center;
    color: #ffffff;
    padding: 1rem 0;
    font-size: 0.8rem;
}

footer a{
    color: #fff;
}


/* Image Shenanigans */


/* Home Page Image */

figure.homeimage {
    float: right;
    width: 30%;
    margin: 0 0 0 2%;
}

figure.homeimage img {
   width: 100%;
   height: auto;
}

figure.homeimage figcaption {
    text-align: center;
    font-size: .75rem;
}

/* Theme Park Gallery */

div.parkgallery {
    display:flex;
    flex-wrap: wrap;
    margin: 0 0 5% 0;
    justify-content: space-between;
}

div.parkgallery figure {
    margin: .5rem 2% 0 0;
}

div.parkgallery img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

div.parkgallery figcaption {
text-align: center;
font-size: .8rem;
color:#fff;
background-color: #2000eb;
margin: 0;
padding: 1.5% 0 2% 0;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}